/* CSS Structure
- Fonts & design system (line 9)
- Utility classes (line 75)
- Basic document structure (line 92)
- Element specific rules (line 118)
- Media queries (line 243)
*/

@font-face {
  font-family: "Fraunces";
  src: url('../fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('truetype');
}
@font-face {
  font-family: "Manrope";
  src: url('../fonts/manrope/Manrope-VariableFont_wght.ttf') format('truetype');
}
:root {
  font-size: 20px;
  font-weight: 400;
  --serif: "Fraunces", serif;
  --sans-serif: "Manrope", sans-serif;
  --color-primary: #24053E;
  --color-cta: #44FFA1;
  --color-secondary: #584D62;
  --color-bg: #FCF8FF;
  --white: #FFFFFF;
}

h1, h2, h3 {
  font-weight: 600;
  font-family: var(--serif);
}
h1 {
  font-size: 4rem;
  line-height: 4rem;
  color: var(--white);
}
h2 {
  font-size: 2.8rem;
  line-height: 3.2rem;
}
h3 {
  font-size: 1.6rem;
  line-height: 2rem;
}
p, button {
  font-size: 0.9rem;
  line-height: 1.6rem;
}
button {
  font-weight: 700;
  letter-spacing: -0.01rem;
}
.btn-primary {
  color: var(--color-primary);
  background-color: var(--color-cta);
  border: 2px solid var(--color-cta);
  padding-inline: 1.2rem;
  padding-block: 0.65rem;
  min-width: 8rem;
}
.btn-primary:hover {
  color: var(--color-cta);
  background-color: var(--color-primary);
}
.btn-secondary {
  color: var(--white);
  background-color: transparent;
  border-bottom: 3px solid var(--color-cta);
}
.btn-secondary:hover {
  color: var(--color-cta);
}

/* Utility classes */
.bg-dark {
  background-color: var(--color-primary);
}
.bg-light {
  background-color: var(--color-bg);
}
.padding-sides {
  padding-inline: 8.25rem;
}
.relative {
  position: relative;
}
.flex {
  display: flex;
}

/* Basic document structure */
body {
  max-width: 72rem;
  margin: auto;
  font-family: var(--sans-serif);
}
.header-wrapper {
  overflow: hidden;
  padding-bottom: 15rem;
}
nav {
  padding-top: 2.8rem;
  display: flex;
  justify-content: space-between;
}
.hero {
  padding-top: 2.75rem;
  text-align: center;
}

/* Element specific rules */
#cta-accent::after {
  content: " ";
  position: absolute;
  width: 100%;
  border-bottom: 3px solid var(--color-cta);
  bottom: 0.5rem;
  left: 0rem;
}
.hero > .cta {
  padding-top: 2.75rem;
}
.hero > .hero-image {
  padding-top: 2.5rem;
  min-height: 10rem;
}
#bg-pattern-1 {
  position: absolute;
  top: 0rem;
  left: 0rem;
  transform: translateX(-40%);
}
#bg-pattern-2 {
  position: absolute;
  top: 0rem;
  right: 0rem;
  transform: translateX(40%);
}
.curve-1 {
  height: 11rem;
  width: 100%;
  position: absolute;
  top: 5rem;
  right: 0rem;
  background-color: var(--color-primary);
  clip-path: ellipse(60% 55% at 50% 45%);
}
.curve-2 {
  height: 13rem;
  width: 100%;
  position: absolute;
  bottom: -8.5rem;
  right: 0rem;
  z-index: -1;
  background-color: var(--color-bg);
  clip-path: ellipse(60% 55% at 50% 45%);
}
#hero-image {
  position: absolute;
  max-width: 38rem;
  left: 50%;
  transform: translateX(-45%);
}
.card-container {
  padding-top: 4.5rem;
  gap: 1.3rem;
  counter-reset: cards;
}
.card {
  text-align: center;
  color: var(--color-primary);
}
.card-title {
  margin-bottom: 1.3rem;
}
.card-title::before {
  counter-increment: cards;
  content: counter(cards);
  display: block;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 2.3rem;
  margin-inline: auto;
  width: 2.3rem;
  height: 2.3rem;
  border: 1px solid var(--color-primary);
  border-radius: 50%;
}
.founder-container {
  padding-inline: 8.25rem;
}
#founder-img {
  width: 43%;
  max-width: 23.85rem;
  left: 0rem;
  top: 14rem;
  z-index: -1;
}
.founder-cta {
  color: var(--white);
  width: 65.5%;
  padding: 3.2rem;
  margin-left: auto;
}
.founder-cta > *:nth-child(-n + 2) {
  margin-bottom: 1.6rem;
}
#bg-pattern-3 {
  position: absolute;
  top: 0rem;
  right: 0rem;
}
footer {
  margin-top: 6rem;
  margin-bottom: 5.5rem;
}
footer > * {
  margin-inline: auto;
  margin-bottom: 2.9rem;
}
.social-icons {
  gap: 1.4rem;
  justify-content: center;
}
.social-icons > *:hover path {
  fill: var(--color-primary);
  cursor: pointer;
}

/* Media queries */
@media (max-width: 1230px) {
  .founder-container {
    padding-inline: 4rem;
  }
}
@media (max-width: 1098px) {
  .padding-sides {
    padding-inline: calc(0.15 * 100vw);
  }
  h2 {
    font-size: 2.4rem;
    line-height: 2.8rem;
  }
  .founder-cta {
    padding: 2.8rem;
  }
  #bg-pattern-3 {
    right: -1rem;
  }
}
@media (max-width: 933px) {
  .padding-sides {
    padding-inline: calc(0.1 * 100vw);
  }
  h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .founder-container {
    padding-inline: 2rem;
    margin-top: 3rem;
  }
  #founder-img {
    width: 14rem;
    left: 0rem;
    top: 6.5rem;
    z-index: -1;
  }
  .founder-cta {
    width: 74.5%;
  }
  #bg-pattern-3 {
    right: -2rem;
  }
}
@media (max-width: 768px) {
  .padding-sides {
    padding-inline: 2rem;
  }
  .padding-narrow {
    padding-inline: 2.9rem;
  }
  nav {
    padding-top: 1.8rem;
  }
  h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h3 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  p, button {
    font-size: 0.8rem;
    line-height: 1.4rem;
  }
  .btn-primary {
    padding-inline: 1.2rem;
    padding-block: 0.6rem;
    min-width: unset;
    max-height: 2.75rem;
  }
  .hero > .cta {
    padding-top: 1.95rem;
  }
  #cta-accent::after {
    bottom: 0.35rem;
  }
  .hero > .hero-image {
    padding-top: 2.75rem;
    min-height: 6rem;
  }
  #hero-image {
    max-width: 25.7rem;
  }
  #bg-pattern-1 {
    transform: translateX(-67%);
  }
  #bg-pattern-2 {
    transform: translateX(55%);
  }
  .curve-1 {
    height: 6rem;
    top: 4rem;
  }
  .curve-2 {
    height: 6rem;
    bottom: -4.5rem;
  }
  .card-container {
    flex-direction: column;
    padding-top: 0rem;
    gap: 2.4rem;
  }
  .card {
    text-align: left;
    margin-left: 4rem;
  }
  .card-title {
    margin-bottom: 0.8rem;
  }
  .card-title::before {
    position: absolute;
    margin-top: 2.6rem;
    left: -1rem;
  }
}
@media (max-width: 660px) {
  #founder-img {
    top: 5rem;
  }
}
@media (max-width: 550px) {
  .header-wrapper {
    padding-bottom: 13rem;
  }
  .padding-sides {
    padding-inline: 0.8rem;
  }
  .padding-narrow {
    padding-inline: 0rem;
  }
  h1 {
    font-size: 2.3rem;
    line-height: 2.3rem;
  }
  .btn-primary {
    padding-inline: 1.2rem;
    padding-block: 0.6rem;
    min-width: unset;
    max-height: 2.75rem;
  }
  .hero > .cta {
    padding-top: 1.95rem;
  }
  .hero > .hero-image {
    padding-top: 3.2rem;
    min-height: 5rem;
  }
  #hero-image {
    max-width: 83%;
  }
  #bg-pattern-1 {
    transform: translateX(-100%);
  }
  #bg-pattern-2 {
    transform: translateX(100%);
  }
  .curve-1 {
    height: 5rem;
  }
  .curve-2 {
    height: 5rem;
    bottom: -3.5rem;
  }
  .card-container {
    gap: 1.3rem;
  }
  .card {
    text-align: center;
    margin-left: 0rem;
  }
  .card-title {
    margin-bottom: 0.8rem;
  }
  .card-title::before {
    position: static;
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    margin-bottom: 1.2rem;
    margin-top: 0rem;
    margin-inline: auto;
    width: 2.3rem;
    height: 2.3rem;
  }
  .founder-container {
    padding-inline: 0.8rem;
    margin-top: 6rem;
  }
  #founder-img {
    top: 2.5rem;
    margin: auto;
  }
  .founder-cta {
    text-align: center;
    width: 100%;
    padding: 1.5rem;
  }
  h2 {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .founder-cta > *:nth-child(-n + 1) {
    margin-bottom: 0.8rem;
  }
  #bg-pattern-3 {
    visibility: hidden;
  }
  footer {
    margin-top: 3.7rem;
  }
}
@media (max-width: 375px) {
  .header-wrapper {
    padding-bottom: 10rem;
  }
  #cta-accent::after {
    bottom: 0.2rem;
  }
  #hero-image {
    max-width: 16rem;
  }
  #curve {
    height: 4rem;
    top: 3.5rem;
  }
}